<a href="https://colab.research.google.com/github/87designer/finer_things_colab/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis
<hr>

Initial exploration goals are to...
- a
- b
- c

## Require Installs / Imports
<hr>

In [1]:
!pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.9/dist-packages (5.14.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from plotly) (23.0)

In [2]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

## Data Load / Features
<hr>

In [3]:
raw_df = pd.read_csv("https://raw.githubusercontent.com/87designer/finer_things_colab/main/data/the_office_lines_scripts.csv")

In [4]:
raw_df.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59909 entries, 0 to 59908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         59909 non-null  int64
 1   season     59909 non-null  int64
 2   episode    59909 non-null  int64
 3   scene      59909 non-null  int64
 4   line_text  59909 non-null  object
 5   speaker    59909 non-null  object
 6   deleted    59909 non-null  bool
dtypes: bool(1), int64(4), object(2)
memory usage: 2.8+ MB

## Exploration Area 1
<hr>

## Exploration Area 2
<hr>